@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cabin&family=Catamaran:wght@700&family=Fredoka+One&family=Montserrat:wght@900&family=Raleway:wght@100&display=swap');
.footer-container{
    position: absolute;
    bottom: 0;
    color: white;
    font-family: rubik;
    text-align: center;
}