body{
    margin: 0;
    padding: 0;
    background-image: url('../images/T_4.svg');
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;  
    min-height: 100vh;
    align-items: center;
}

.search-bar {
    height: 5vh;
    outline: none;
    border-radius: 0 0 10px 10px;
    text-align: center;
    opacity: .7;
    padding: 0 15% 0 15%;
    border: 1px solid white;
    
}
  
 