@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cabin&family=Catamaran:wght@700&family=Fredoka+One&family=Montserrat:wght@900&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
}

.text-center{
    text-align: center;
}
#temperature{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3em;
}
.cabin-font{
    font-family: 'Cabin', sans-serif;
}
.catamaran{
    font-family: 'Catamaran', sans-serif;
}
.rubik{
    font-family: 'Rubik', sans-serif;
}
.fredoka{
    font-family: 'Fredoka One', cursive;
}
.image-container{
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
}
.icon{
    margin-top: 5%;
    width: 80px;
    height: 80px;
}

table,td,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    
}
td{
    padding: 4%;
}
.card{
    margin-top: 2%;
    padding: 10%; 
    border-radius: 100px;
    background-color: white;
    opacity: .7;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition: 0.87s linear;
    
}
.card:hover{
    -webkit-box-shadow: 6px -3px 43px 0px rgba(0,0,0,0.73);
-moz-box-shadow: 6px -3px 43px 0px rgba(0,0,0,0.73);
box-shadow: 6px -3px 43px 0px rgba(0,0,0,0.73);
}
/*
font-family: 'Rubik', sans-serif;
font-family: 'Alfa Slab One', cursive;
font-family: 'Cabin', sans-serif;
font-family: 'Catamaran', sans-serif;
font-family: 'Fredoka One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;

*/